In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('List of Unicorn Startup Companies.csv')
file.head()

,Unnamed: 0,Company,Valuation(US$ billions),Valuation date,Industry,Country/countries,Founder(s)
0,0,ByteDance,140,June 2022[13],Internet,China,"Zhang Yiming, Liang Rubo"
1,1,SpaceX,127,June 2022[13],Aerospace,US,Elon Musk
2,2,Shein,100,June 2022[13],E-commerce,China,Chris Xu
3,3,Stripe,50,March 2023[13],Financial services,US / Ireland,Patrick and John Collison
4,4,Canva,40,September 2021[16],Graphic design,Australia,"Melanie Perkins, Clifford Obrecht, Cameron Adams"

In [3]:
file = file.drop(columns = ['Unnamed: 0'])

In [4]:
file.head()

,Company,Valuation(US$ billions),Valuation date,Industry,Country/countries,Founder(s)
0,ByteDance,140,June 2022[13],Internet,China,"Zhang Yiming, Liang Rubo"
1,SpaceX,127,June 2022[13],Aerospace,US,Elon Musk
2,Shein,100,June 2022[13],E-commerce,China,Chris Xu
3,Stripe,50,March 2023[13],Financial services,US / Ireland,Patrick and John Collison
4,Canva,40,September 2021[16],Graphic design,Australia,"Melanie Perkins, Clifford Obrecht, Cameron Adams"

In [5]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658 entries, 0 to 657
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Company                  658 non-null    object
 1   Valuation(US$ billions)  658 non-null    object
 2   Valuation date           658 non-null    object
 3   Industry                 594 non-null    object
 4   Country/countries        658 non-null    object
 5   Founder(s)               138 non-null    object
dtypes: object(6)
memory usage: 31.0+ KB

In [6]:
file = file.drop(columns = ['Founder(s)'])

In [7]:
file = file.rename(columns = {'Company': 'company', 'Valuation(US$ billions)': 'valuation', 'Valuation date': 'valuation_date', 'Industry': 'industry', 'Country/countries': 'country'})

In [8]:
file['valuation'].unique()

array(['140', '127', '100', '50', '40', '24', '38', '33', '31.5', '30',
       '27', '25', '22', '20', '17.5', '2.1', 'Undisclosed', '16.5',
       '15.5', '15', '13.4', '13.3', '13', '12.6', '12.4', '12.3', '12',
       '11.75', '11', '10.2', '10.7', '10', '9.6', '9.5', '9.3', '9',
       '8.7', '8.6', '8.5', '8.4', '8.3', '8.1', '8', '7.75', '7.6',
       '7.5', '7.4', '7.3', '7.25', '6.8', '6.7', '6.6', '6.5', '11.25',
       '6.4', '6.3', '6.2', '6.04', '6', '5.8', '5.7', '5.6', '5.5',
       '5.48', '5.3', '5.25', '5.2', '5.1', '5+', '5', '4.6', '4.9',
       '4.7', '4.5', '4.4', '4.3', '4.2', '4.15', '4.1', '4.05', '4',
       '3.95', '3.8', '3.75', '3.7', '3.6', '3.55', '3.5', '3.35', '3.33',
       '3.3', '3.4', '3.2', '3.15', '3.1', '3+', '3', '2.9', '2.85',
       '2.8', '2.78', '2.75', '2.7', '1.4', '2.63', '2.6', '2.56', '2.5',
       '2.5+', '2.45', '2.4', '2.39', '2.33', '2.3', '2.25', '2.2',
       '2.17', '2.1+', '2+', '2', '1.98', '1.95', '1.93', '1.9', '1.89',
       '1.85', '1.83', '1.8', '1.78', '1.75', '1.7', '1.68', '1.67',
       '1.65', '1.6', '1.56', '1.5+', '1.5', '1.47', '1.45', '1.33',
       '1.32', '1.3', '1.25', '1.23', '1.22', '1.2', '1.18', '1.1',
       '1.05', '1.04', '1.0', '1+', '1', '1.44', '1.4+'], dtype=object)

In [9]:
file = file.drop(file[file['valuation'] == 'Undisclosed'].index)

In [10]:
file = file.drop_duplicates()

In [11]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 657 entries, 0 to 657
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         657 non-null    object
 1   valuation       657 non-null    object
 2   valuation_date  657 non-null    object
 3   industry        593 non-null    object
 4   country         657 non-null    object
dtypes: object(5)
memory usage: 30.8+ KB

In [12]:
file.reset_index(drop = True)

,company,valuation,valuation_date,industry,country
0,ByteDance,140,June 2022[13],Internet,China
1,SpaceX,127,June 2022[13],Aerospace,US
2,Shein,100,June 2022[13],E-commerce,China
3,Stripe,50,March 2023[13],Financial services,US / Ireland
4,Canva,40,September 2021[16],Graphic design,Australia
...,...,...,...,...,...
652,Voi,1+,April 2022[59],NaN,Sweden
653,Neo Financial,1,May 2022[567],Financial technology,Canada
654,Physics Wallah,1.1,June 2022[568],Educational technology,India
655,OneCard,1.4+,July 2022[569],Financial technology,India
656,5ire,1.5+,July 2022[570],Technology,India

In [13]:
file['valuation'] = file['valuation'].str.replace('+', '')

/var/folders/0l/jk10l8211rd4cr70rll9kzh80000gp/T/ipykernel_3566/28791501.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  file['valuation'] = file['valuation'].str.replace('+', '')

In [14]:
file['valuation'] = file['valuation'].astype(float)

In [15]:
file['valuation'] = file['valuation'].round(1)

In [16]:
file['valuation'].unique()

array([140. , 127. , 100. ,  50. ,  40. ,  24. ,  38. ,  33. ,  31.5,
        30. ,  27. ,  25. ,  22. ,  20. ,  17.5,   2.1,  16.5,  15.5,
        15. ,  13.4,  13.3,  13. ,  12.6,  12.4,  12.3,  12. ,  11.8,
        11. ,  10.2,  10.7,  10. ,   9.6,   9.5,   9.3,   9. ,   8.7,
         8.6,   8.5,   8.4,   8.3,   8.1,   8. ,   7.8,   7.6,   7.5,
         7.4,   7.3,   7.2,   6.8,   6.7,   6.6,   6.5,  11.2,   6.4,
         6.3,   6.2,   6. ,   5.8,   5.7,   5.6,   5.5,   5.3,   5.2,
         5.1,   5. ,   4.6,   4.9,   4.7,   4.5,   4.4,   4.3,   4.2,
         4.1,   4. ,   3.8,   3.7,   3.6,   3.5,   3.4,   3.3,   3.2,
         3.1,   3. ,   2.9,   2.8,   2.7,   1.4,   2.6,   2.5,   2.4,
         2.3,   2.2,   2. ,   1.9,   1.8,   1.7,   1.6,   1.5,   1.3,
         1.2,   1.1,   1. ])

In [17]:
file = file.rename(columns = {'valuation': 'valuation_billions'})

In [18]:
file.head()

,company,valuation_billions,valuation_date,industry,country
0,ByteDance,140.0,June 2022[13],Internet,China
1,SpaceX,127.0,June 2022[13],Aerospace,US
2,Shein,100.0,June 2022[13],E-commerce,China
3,Stripe,50.0,March 2023[13],Financial services,US / Ireland
4,Canva,40.0,September 2021[16],Graphic design,Australia

In [19]:
file['industry'] = file[['industry']].fillna(value='Unknown')

In [20]:
file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 657 entries, 0 to 657
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   company             657 non-null    object
 1   valuation_billions  657 non-null    float64
 2   valuation_date      657 non-null    object
 3   industry            657 non-null    object
 4   country             657 non-null    object
dtypes: float64(1), object(4)
memory usage: 30.8+ KB

In [21]:
print(file['valuation_billions'].mean())

4.03972602739725

In [22]:
file['industry'].unique()

array(['Internet', 'Aerospace', 'E-commerce', 'Financial services',
       'Graphic design', 'Financial technology', 'Retail', 'Software',
       'Video games', 'Educational technology', 'Logistics', 'Technology',
       'Blockchain', 'Collaborative software', 'Healthcare', 'Finance',
       'Health', 'Cryptocurrency', 'Artificial intelligence', 'Batteries',
       'Self-driving cars', 'Food delivery', 'Marketplace',
       'Venture capital', 'Supply chain management',
       'Productivity software', 'Internet media', 'Software as a service',
       'Hospitality', 'Marketing', 'Software development',
       'Cybersecurity', 'Robotics', 'Application security',
       'Transportation', 'Cloud security', 'Fantasy sports',
       'Virtual event', 'NFT', 'Computer security', 'Travel',
       'Robotic process automation', 'Password manager',
       'Real estate technology', 'Workforce management', 'Real estate',
       'Mass media', 'Data infrastructure', 'Health technology',
       'Data governance', 'Holding company', 'Ghost kitchen',
       'Electronic cigarettes', 'B2B e-commerce', 'Electric vehicles',
       'Flexible electronics', 'Blockchain gaming', 'Energy supply',
       'Defense technology', 'Human resource management',
       'Augmented reality', 'Identity management', 'Consumer electronics',
       'Sales', 'Data analytics', 'Software industry', 'Messaging',
       'Interior design', 'Insurance', 'Online membership service',
       'Social network', 'Data storage', 'Wearable technology',
       'Computer storage', 'Mobile gaming', 'Self-driving trucks',
       'Quantum computing', 'Education', 'Content management system',
       'Semiconductors', 'Cloud communications',
       'Superintelligence・Quantum computing・Metaverse',
       'Home improvement', 'Trucking', 'Ordering software for POS', 'CRM',
       'Developer platform',
       'Network operating system, Software-defined networking, Software as a service',
       'Personal finance', 'Asset performance management',
       'Food packaging, Logistics', 'Fitness', 'Web development',
       'Mobile financial services', 'Pharmaceuticals',
       'Mobile marketing analytics',
       'E-commerce, movie ticket distributor', 'Digital health',
       'Database management', 'Cloud computing', '3D printing',
       'Agriculture, E-commerce', 'Nanopore sequencing',
       'Fashion, Retail', 'Consumer finance', 'Pharmaceutical',
       'Analytics', 'Energy', 'Property technology', 'Fashion',
       'Mobile internet', 'Drug discovery', 'Printing', 'Biotechnology',
       'Cosmetics', 'Cannabis', 'Unknown', 'Gaming', 'HR technology',
       'Legal technology', 'VPN service', 'Identity verification service',
       'Advertising technology', 'Management consulting',
       'Food technology', 'Music', 'Health care',
       'Building services engineering', 'Personal care', 'Automotive',
       'Cloud software', 'E-Commerce', 'Business intelligence',
       'Sportswear', 'Coffee shop', 'Cloud', 'Media',
       'Accounting software', 'Meal kit', 'Electronics', 'Furniture',
       'Nanotechnology', 'WebOps', 'Intellectual property',
       'Network security', 'Architecture', 'Waste management',
       'Fraud prevention', 'Car sharing', 'Financial software',
       'Digital media', 'Telecommunications', 'Software company',
       'E-commerce, Food delivery',
       'Environmental,_social,_and_corporate_governance'], dtype=object)

In [23]:
file['sector'] = file['industry']

In [24]:
def sectors(i):
    if i == 'Video games' or i == 'Fantasy sports' or i== 'Blockchain gaming' or i=='Mobile gaming' or i=='E-commerce, movie ticket distributor' or i =='Gaming' or i=='Music' or i=='Printing':
        return 'Culture and leisure'
    elif i == 'E-commerce, Food delivery' or i=='Meal kit' or i=='Coffee shop' or i=='Food technology' or i=='Ghost kitchen' or i=='Food delivery':
        return 'Foods and Drinks'
    elif i == 'Healthcare' or i=='Health' or i=='Health technology' or i=='Fitness' or i=='Pharmaceuticals' or i=='Digital health' or i=='Pharmaceutical' or i=='Drug discovery' or i=='Cosmetics' or i=='Biotechnology' or i=='Health care' or i=='Personal care':
        return 'Health and Personal Care'
    elif i=='Self-driving cars' or i=='Transportation' or i=='Self-driving trucks' or i=='Trucking' or i=='Automotive' or i=='Car sharing' or i=='Electric vehicles':
        return 'Transportation'
    elif i=='E-commerce' or i=='Marketplace' or i=='Retail' or i=='Electronic cigarettes' or i=='B2B e-commerce' or i=='Sales' or i=='Fashion, Retail' or i=='Fashion' or i=='E-Commerce' or i=='Sportswear' or i=='Furniture':
        return 'Sales and Fashion'
    elif i=='Cybersecurity' or i=='Application security' or i=='Cloud security' or i=='Computer security' or i=='Password manager' or i=='VPN service' or i=='Identity verification service' or i=='Network security' or i=='Fraud prevention' or i=='Identity management':
        return 'Security'
    elif i=='Financial services' or i=='Financial technology' or i=='Finance' or i=='Cryptocurrency' or i=='Venture capital' or i== 'Personal finance' or i=='Mobile financial services' or i=='Consumer finance' or i=='Accounting software' or i=='Financial software' or i=='Ordering software for POS':
        return 'Finances'
    elif i=='Internet' or i=='Software' or i=='Technology' or i=='Blockchain' or i=='Collaborative software' or i=='Artificial intelligence' or i=='Software as a service' or i=='Software development' or i=='Robotics' or i=='Robotic process automation' or i=='Defense technology' or i=='Augmented reality' or i=='Software industry' or i=='Messaging' or i=='Social network' or i=='Quantum computing' or i=='Content management system' or i=='Superintelligence・Quantum computing・Metaverse' or i=='Developer platform' or i=='Network operating system, Software-defined networking, Software as a service' or i=='Web development' or i=='Cloud computing' or i=='Cloud software' or i=='Nanotechnology' or i=='WebOps' or i=='Software company' or i=='Productivity software' or i== 'Data infrastructure' or i=='Data governance' or i=='Data analytics' or i=='Data storage' or i=='Computer storage' or i=='Cloud communications' or i=='Database management' or i=='Mobile marketing analytics' or i=='Analytics' or i=='Cloud' or i=='Digital media' or i=='Wearable technology':
        return 'Technology, Data and Analytics'
    elif i=='Educational technology' or i== 'Education':
        return 'Education'
    elif i == 'Unknown':
        return 'Unknown'
    else:
        return 'Other'

In [25]:
file['sector'] = list(map(sectors, file['sector']))

In [26]:
file['sector'].unique()

array(['Technology, Data and Analytics', 'Other', 'Sales and Fashion',
       'Finances', 'Culture and leisure', 'Education',
       'Health and Personal Care', 'Transportation', 'Foods and Drinks',
       'Security', 'Unknown'], dtype=object)

In [30]:
file.groupby('sector').agg('mean')

                                valuation_billions
sector
Culture and leisure                       4.005000
Education                                 4.082353
Finances                                  4.213675
Foods and Drinks                          2.622222
Health and Personal Care                  3.188571
Other                                     4.753465
Sales and Fashion                         5.644118
Security                                  2.997143
Technology, Data and Analytics            4.498795
Transportation                            3.524000
Unknown                                   1.135938

In [29]:
file.groupby('sector').agg('sum')

                                valuation_billions
sector
Culture and leisure                           80.1
Education                                     69.4
Finances                                     493.0
Foods and Drinks                              23.6
Health and Personal Care                     111.6
Other                                        480.1
Sales and Fashion                            383.8
Security                                     104.9
Technology, Data and Analytics               746.8
Transportation                                88.1
Unknown                                       72.7

In [32]:
file['valuation_date'].min()

'April 2016[124]'

In [33]:
file['valuation_date'].max()

'September\xa02021[24]'

In [36]:
file.to_csv('List of Unicorn Startup Companies.csv', index = False)